* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}



html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F9FAFF;
}

nav {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #F9FAFF;
    box-shadow: 0px 0px 10px 5px #e6e6e6;

    .nav {
        max-width: 1280px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        justify-content: space-between;
        // position: relative;
        height: 70px;
        // justify-content: center;
        background-color: #F9FAFF;

        ul {
            display: flex;
            gap: 30px;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #000;
                    transition: 0.3s;
                }

                a:hover {
                    color: #F35F2F;
                }
            }
        }

        button {
            all: unset;
            border-bottom: 1px solid black;
            cursor: pointer;
            padding-bottom: 7px;
        }

        .right {
            display: flex;
            gap: 10px;

            i {
                color: #AE7B3C;
                font-size: 20px;
                margin-right: 20px;
            }

            .tel {
                color: #000;
                margin-right: 0px;
            }

            p:hover {
                i {
                    color: #AE7B3C;
                }

                color: #AE7B3C;
            }
        }
    }
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}


header {
    background: url(./img/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering\ 1.png);
    height: 100%;
    width: 100%;

    .gradient {
        background: linear-gradient(to bottom, #3c3c3c46, #000000d5);
        height: 100%;
        width: 100%;

        .header {
            color: white;
            text-align: center;
            padding: 100px 0px;

            h1,
            p {
                width: 537px;
                margin: auto;
                margin-top: 20px;
            }

            h1 {
                font-size: 56px;
                font-weight: 700;
                line-height: 67.2px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
            }

            button {
                all: unset;
                cursor: pointer;
                margin-top: 30px;
                background-color: #AE7B3C;
                border: 1px solid #AE7B3C;
                padding: 15px 30px;
                transition: 0.3s;
            }

            button:hover {
                background-color: transparent;
            }
        }
    }
}


.section2 {
    margin-top: 100px;
    padding-bottom: 100px;

    h1 {
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
        text-align: center;
        margin-bottom: 40px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        .card {
            h3 {
                color: #464744;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 50px;
            }

            p {
                font-size: 24px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 10px;
            }

            img {
                width: 320px;
                height: 300px;
            }
        }
    }
}

.section3 {
    background-color: #3D4A39;
    padding: 30px;

    .zabezpechemo {
        p {
            color: #fff;
        }

        h1 {
            text-align: center;
            color: #fff;
            font-size: 46px;
            font-weight: 600;
            line-height: 57.5px;
            padding-bottom: 100px;
        }

        .vas {
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;

            div {
                width: 178px;
                text-align: center;
            }
        }
    }
}


.section4 {
    text-align: center;
    margin-top: 100px;
    position: relative;

    h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 46.5px;
        padding-bottom: 100px;
        width: 70%;
        margin: auto;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 70%;
        margin: auto;

        p {
            text-align: left;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
        }

        .p {
            display: flex;

            img {
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
        }
    }

    .line8 {
        img {
            width: 65%;
            margin: auto;

        }
    }

    .line9 {
        margin-top: -12px;

        img {
            width: 100%;

        }
    }

    .abs {
        position: absolute;
        left: 0;
        top: 0;
    }

    .abs2 {
        position: absolute;
        right: 0;
        top: 33%;
    }
}


.section5 {
    margin-top: 200px;

    .h1 {
        text-align: center;
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
        padding-bottom: 30px;
    }

    .flex {
        display: flex;
        align-items: center;

        .flex2 {
            display: flex;
            align-items: center;
            gap: 30px;

            .p1 {
                font-size: 30px;
                font-weight: 600;
                line-height: 41.6px;
            }

            .p2 {
                font-size: 16px;
                font-weight: 400;
                line-height: 21.6px;
                color: #282B22;
            }
        }

        .w1 {
            width: 50%;

            h1 {
                color: #282b22d2;
                font-size: 24px;
            }
        }
    }

    img {

        width: 100%;
    }
}

.section6 {
    background-color: #3D4A39;
    color: white;

    .sec6 {
        display: flex;

        .left {
            width: 50%;
            padding: 30px;

            h1 {
                font-size: 46px;
                font-weight: 500;
                line-height: 57.5px;
                margin-bottom: 30px;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 23.2px;
                margin-bottom: 30px;
            }

            input {
                padding: 10px 20px;
                border: 1px solid #AE7B3C;
                border: none;
                border-bottom: 1px solid white;
                margin-bottom: 30px;
                background-color: #3D4A39;
            }

            .f {
                display: flex;

                p {
                    color: rgba(255, 255, 255, 0.425);
                }

                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 6px;
                }
            }

            button {
                all: unset;
                width: Fixed (300px)px;
                height: Hug (60px)px;
                padding: 22px 56px 22px 56px;
                background-color: #AE7B3C;
                margin-bottom: 30px;
            }
        }

        .right {
            width: 50%;

            img {
                width: 100%;
                height: 600px;
            }
        }
    }

}

.section7 {
    .h1 {
        text-align: center;
        color: #282B22;
        font-size: 46px;
        margin-bottom: 40px;
    }

    .etap {
        display: flex;
        gap: 30px;

        .etap1 {
            h1 {
                color: #3D4A39;
                padding: 10px;
                border: 1px solid black;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                margin-bottom: 20px;
            }

            .p1 {
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                color: #282B22;
            }

            .p2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 23.2px;
                margin-top: 10px;
                color: #282B22;
            }
        }
    }
}

.section8 {
    .sec8 {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        img {
            width: 100%;
            height: 300px;
        }

        .p1 {
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .p2 {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
        }
    }
}

.section9 {
    .sec9 {
        display: flex;
        gap: 30px;
        text-align: center;

        h1 {
            font-size: 46px;
            font-weight: 600;
            line-height: 57.5px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            margin-top: 20px;
        }

        button {
            all: unset;
            width: 200px;
            height: 10px;
            padding: 22px 0px 22px 0px;
            color: white;
            background-color: #AE7B3C;
            margin-top: 30px;
        }
    }
}

.section10 {
    padding-bottom: 50px;

    h1 {
        text-align: center;
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
    }

    .sec10 {
        img {
            width: 23%;
        }
    }

    .strelka {
        text-align: center;

        img {
            margin: 10px;
        }
    }
}

.section12 {
    display: flex;
    justify-content: space-between;

    .bir {
        font-size: 14px;
        color: #282B22;

        p {
            margin-top: 10px;
        }
    }

    p {
        margin-bottom: 20px;
    }

    button {
        all: unset;
        padding: 16px 30px;
        border-radius: 1px;
        color: white;
        background-color: #AE7B3C;
    }
}

footer {
    .futer {
        text-align: center;
        gap: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    img {
        width: 100%;
    }

    .p {
        margin-top: 5px;
    }
}









@media (max-width:1184px) {
    .section2 {
        .cards {
            .line {
                display: none;
            }

            justify-content: center;
        }
    }
}

@media (max-width:900px) {
    .section7 {
        .etap {
            flex-wrap: wrap;
        }
    }

    .section9 {
        .sec9 {
            flex-direction: column;

            .ii1 {
                display: none;
            }

            h1 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width:850px) {
    .section6 {
        .sec6 {
            flex-direction: column;

            .left {
                width: 100%;
                justify-content: center;
                text-align: center;

                .f {
                    justify-content: center;
                }
            }

            .right {
                width: 90%;
                margin: auto;
            }
        }
    }
}

@media (max-width:800px) {
    .section4 {

        .abs,
        .abs2 {
            display: none;
        }

        h1 {
            font-size: 30px;
            font-weight: 500;
        }

        .flex {
            width: 90%;
            margin: auto;
        }
    }

    .section8 {
        .sec8 {
            flex-direction: column;
            text-align: center;

            img {
                width: 50%;
                margin: auto;
            }
        }
    }
}

@media (max-width:780px) {

    nav {
        ul {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            flex-direction: column;
            text-align: center;
            background: #AE7B3C;
            color: white !important;
            gap: 0;
            overflow: hidden;

            li {
                padding: 20px;
                padding-top: 0;
                padding-top: 10px;

                a {
                    color: #fff !important;
                }

            }
        }

        button {
            color: white;
            padding-bottom: 10px;
        }

        .menu-icon {
            display: block;

            i {
                color: #000;
            }
        }

        #menuList {
            transition: all 0.5s;
        }

        .button {
            display: none;
        }

        .right {
            display: none !important;
        }
    }

    .section12 {
        flex-direction: column;
        text-align: center;
        div {
            margin-bottom: 20px;
        }
    }
}


@media (max-width:700px) {
    .section6 {
        .sec6 {
            flex-direction: column;

            .left {
                width: 100%;
                justify-content: center;
                text-align: center;

                .f {
                    justify-content: center;
                }
            }

            .right {
                width: 90%;
                margin: auto;

                img {
                    height: 300px;
                }
            }
        }
    }
}


@media (max-width:670px) {
    .section3 {
        .zabezpechemo {
            .vas {
                flex-wrap: wrap;

                div {
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media (max-width:650px) {
    .section4 {
        h1 {
            font-size: 20px;
            line-height: 30px;
        }

        .flex {
            flex-direction: column;
            align-items: center;

            .ll {
                display: none;
            }
        }

        .line8 {
            margin-bottom: 30px;
        }

        .line9 {
            margin-top: 30px;
        }
    }

    .section5 {
        .flex {
            .flex2 {
                .p1 {
                    font-size: 20px;
                }
            }
        }
    }

    .section8 {
        .sec8 {
            img {
                width: 90%;
                margin: auto;
            }
        }
    }
}

@media (max-width:600px) {
    .section3 {
        .zabezpechemo {
            h1 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width:550px) {
    header {
        .gradient {
            .header {

                h1,
                p {
                    width: 95%;
                    margin: auto;
                }

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}